<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<nav th:replace="fragments/nav"></nav>
<div class="container">
    <h1>Detalles</h1>
    <h2></h2>
    <div class="table-responsive">
        <table class="table table-hover" id="tableOffers">
            <tr>
                <th scope="col"><span th:text="${offer.title}"></span></th>
                <th scope="col"><span th:text="${offer.details}"></span></th>
                <th scope="col"><span th:text="${offer.amount}"></span></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            <tbody>
            </tbody>
        </table>
    </div>
    </table>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>