<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<nav th:replace="fragments/nav"></nav>
<div class="container">
    <h1 th:text="#{logs.log}"></h1>
    <a th:text="#{logs.delete}" th:href="${'/logs/delete/'}"></a>
    <div class="table-responsive" id="tableLogs">
        <table class="table table-hover" th:fragment="logTable" id="logTable" th:replace = "fragments/logs/logTable"/>
    </div>
    <div th:if="${#lists.isEmpty(logslist)}">
        No hay logs disponibles
    </div>
    <footer th:replace="fragments/pagination"></footer>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>